version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/app
    command: sleep infinity
    ports:
      - "3116:3116"
      - "3117:3117"
